:root{
    --main-color: var(--primary-color)
}
*{
    border: 0;
    margin: 0;
    font-family:"Nunito+Sans" , system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

body{
    background-color: #dedbdb;
}

.header{
    background-color:#04051c ;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0 ;
}

header .flex-header_primary{
    display: flex;
}
.search{
    background-color: #dedbdb;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
    transform: 0.5s;
}
.search:hover{
    transition: 0.2s;
    background-color: #fff;
    outline: 2px solid var(--primary-color);
    outline-offset: -1px;
    
}
.search:focus-within{
    outline: 2px solid var(--primary-color);
    outline-offset: -1px;
    transition: 0.2s;
}
.search input{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    background-color: transparent;
    border: none;
    padding-left: 7px;
}

.search input:focus-visible {
    outline: none;
}

.search input::placeholder{
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

.search i{
    color: #b3b3b3;
    font-size: 25px;
    cursor: pointer;
}

.logo{
    width: 9rem;
    margin-left: 2rem;
}

.enrly{
    text-align: center;
    color: aliceblue;
    margin-bottom: 3rem;
}

.enrly > h1{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--primary-color) ;
}

.enrly > p{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--primary-color);
}
/* MENU LATERAL// */

.header_primary .header .btn-abrir-menu i{
    color: var(--primary-color);   
    font-size: 20px;
}

.header_primary .menu-lateral{
    color: var(--primary-color);   
    font-size: 20px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 30px;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 70px;
    height: 100vh;
    background-color: #202020;
    padding: 40px 0 0 0;
    border-left: solid 3px var(--primary-color) ;
    transition: .3s;
    overflow: hidden;
}

.header_primary .menu-lateral:hover{
    width: 300px;
}

.btn-abrir-menu{
    padding-right: 15px;
}

.btn-abrir-menu i{
    color: var(--primary-color);
    font-size: 30px;
    margin-right: 7px;
}

.menu-lateral .iten-menu a{
    display: flex;
    gap: 40px;
    padding: 20px 15px;
    margin-right: 7px;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
}

.menu-lateral ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.menu-lateral ul li{
    transition: .3s;
}

.menu-lateral ul li.ativo {
    background-color: var(--primary-color);
    border-left: 4px solid #fff;
}

.menu-lateral ul li.ativo a {
    font-weight: 600;
}

.menu-lateral ul li:hover{
    background-color: var(--primary-color);
}

.menu-lateral .iten-menu a .icon i{
    font-size: 30px;
}