*{
    margin: 0;
    padding: 0  ;
}

.secondary_header{
    background-color: #38e7d6;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    padding-bottom: .3rem ;
    padding-top: .3rem;
    box-shadow: 0 0px 1rem #04051c;
}


.secondary_header > a{
    position: relative;
    text-decoration: none;
    color: #04051c;
    font-weight: 400;
    text-transform: uppercase;
}

.secondary_header > a::after{
    position: absolute;
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #04051c;
    left: 0;
    bottom: -1px;
    transition: 0.4s ease-in-out;
}

.secondary_header >  a:hover::after{
    width: 100%;
}