:root{
    --main-color: #38e7d6
}
*{
    border: 0;
    margin: 0;
    font-family:"Nunito+Sans" , system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

body{
    background-color: #fff
}

.header{
    background-color:#04051c ;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:0 ;
}
.search{
    background-color: #dedbdb;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
    transform: 0.5s;
}
.search:hover{
    transition: 0.2s;
    background-color: #fff;
    outline: 2px solid #38e7d6;
    outline-offset: -1px;
    
}
.search:focus-within{
    outline: 2px solid #38e7d6;
    outline-offset: -1px;
    transition: 0.2s;
}
.search input{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    background-color: transparent;
    border: none;
    padding-left: 7px;
}

.search input:focus-visible {
    outline: none;
}

.search input::placeholder{
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

.search i{
    color: #b3b3b3;
    font-size: 25px;
    cursor: pointer;
}

.logo{
    width: 9rem;
    margin-left: 2rem;
}

.cart{
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
    
}
.enrly{
    text-align: center;
    color: aliceblue;
    margin-bottom: 3rem;
}

.enrly > h1{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    color:#38e7d6 ;
}

.enrly > p{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #38e7d6;
}
